$sidebar-width: 350px;

.list-with-sidebar-wrapper {
    display: flex;
    flex-wrap: wrap;

    .sidebar-wrapper {
        order: 2;
        margin-left: auto;

        .sidebar {
            position: sticky;
            top: 160px;
            width: $sidebar-width;
            border: 1px solid $main-color;
            margin-right: .25rem;
            margin-left: .25rem;        

            .item-wrapper {
                color: $black;
                text-decoration: none;
                
                .item {
                    display: flex;

                    .icon-wrapper {
                        width: 30px;
                        height: 30px;
                        margin-left: 1.5rem;
                        margin-bottom: auto;
                        margin-top: auto;
                        padding-left: 1.5rem;
                        background-repeat: no-repeat;
                    }
                    .title-wrapper {
                        margin-left: 1.5rem;
                        margin-right: 1.5rem;

                        h6 {
                            line-height: 30px;
                            margin-bottom: unset;
                        }
                    }

                    &:hover {
                        background-color: $main-color;
                    }

                    

                    &:nth-child(n) {
                        padding-top: 1.5rem;
                        padding-bottom: 1.5rem;
                    }

                    &.active {
                        position: relative;
                        background-color: rgba(153,153,153,.1);

                        &:before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 5px;
                            height: 100%;
                            background-color: $main-color;
                        }
                    }
                }

                &:first-child {
                    .item {
                        margin-top: 1.5rem;
                    }
                }

                &:last-child {
                    .item {
                        margin-bottom: 1.5rem;
                    }
                }

                &:nth-child(1n) {
                    .item {
                        .icon-wrapper{
                            background-size: contain;
                            background-image: url('/wp-content/themes/siemczyno/dist/images/icons/features/all.svg');
                        }
                    }
                }
    
                &:nth-child(2n) {
                    .item {
                        .icon-wrapper{
                            background-image: url('/wp-content/themes/siemczyno/dist/images/icons/features/buckingham-palace.svg');
                        }
                    }
                }

                &:nth-child(3n) {
                    .item {
                        .icon-wrapper{
                            background-image: url('/wp-content/themes/siemczyno/dist/images/icons/features/map.svg');
                        }
                    }
                }
            }
        }
    }
    
    .list-wrapper {
        order: 1;
        width: calc(100% - #{$sidebar-width} - 73px);

        .item-wrapper {
            display: flex;

            .image-wrapper {
                width: 300px;

                .image {
                    height: 100%;
                    position: relative;
                }
            }

            .content-wrapper {
                width: calc(100% - 300px);
                margin-left: 1.5rem;
                display: flex;
                flex-direction: column;
            }
        }

        hr {
            &:last-child {
                margin-bottom: unset;
            }
        }
    }

    .pagination-box {
        order: 3;
        width: calc(100% - #{$sidebar-width} - 73px);
    }
}

@media (max-width: 1399px) {
    .list-with-sidebar-wrapper {
        .list-wrapper {
            .item-wrapper {
                .image-wrapper {
                    width: 250px;
                }

                .content-wrapper {
                    width: calc(100% - 250px);
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .list-with-sidebar-wrapper {
        flex-direction: column;

        .sidebar-wrapper {
            order: 1;
            width: 100%;

            .sidebar {
                width: 100%;

                margin-right: unset;
                margin-left: unset;
            
            }
        }

        .list-wrapper {
            order: 2;
            width: 100%;
        }

        .pagination-box {
            width: 100%;
        }
    }
}

@media (max-width: 767px) {
    .list-with-sidebar-wrapper {
        .list-wrapper {
            .item-wrapper {
                flex-direction: column;
                .image-wrapper {
                    width: 100%;
                    height: 200px;
                }

                .content-wrapper {
                    width: 100%;
                    margin-top: 2rem;
                    text-align: center;
                    margin-left: unset;
                }
            }
        }
    }
}