.contact-box {
  display: flex;
  justify-content: space-between;

  .first-half {
    width: calc(50% - 40px);

    .contact-info {
      height: 100%;
      padding: 3rem;
      
      a {
        display: inline-block;
      }

      .logo {
        .icon {
          width: 120px;
          height: 120px;
        }
      }

      .logo-footer {
        .icon {
          width: 200px;
          height: 200px;
        }
      }
    }
  }

  .second-half {
    width: calc(50% - 40px);
  }
}

@media (max-width: 991px) {
  .contact-box {
    flex-wrap: wrap;
  
    .first-half {
      width: 100%;

      .contact-info {
        padding: 0;
        margin: 0;
      }
    }
  
    .second-half {
      width: 100%;
    }
  }
}