// Coupon

.coupon-wrapper {
  position: fixed;
  bottom: 75px;
  left: 40px;
  z-index: 5;
  
  > .icon {
    display: block;
    width: 60px;
    height: 60px;
    @include transition(transform, 300ms);
    cursor: pointer;
    pointer-events: none;

    &.pe-auto {
      pointer-events: auto;
    }

    &.active {
      transform: scale(1.1);
    }
  }

  .cancel {
    position: absolute;
    top: -30px;
    left: 40px;
    cursor: pointer;

    .icon {
      width: 22px;
      height: 22px;
    }
  }

  .info-box {
    position: absolute;
    top: -200px;
    left: 80px;
    width: 180px;
    background-color: $white;
    border-top: 5px solid $main-color;
    border-radius: 10px;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);

    .icon {
      width: 150px;
    }

    .text,a {
      font-size: 14px;
      text-decoration: none;
    }
  }
}

//----

// Media queries

@media (max-width: 575px) {
  .coupon-wrapper {
    bottom: 60px;
    left: 20px;
  
    > .icon {
      width: 50px;
      height: 50px;
    }
  
    .info-box {
      position: absolute;
      top: -170px;
      left: 80px;
      width: 180px;

      .icon {
        width: 100px;
      }
    }
  }
}