.form-date {
  display: inline-block;

  .date-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;
    margin: 0 auto;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background-color: rgba($color: $gray-300, $alpha: .4);
      backdrop-filter: blur(10px);
    }

    .title, .input-container, .button-wrapper {
      position: relative;
      z-index: 1;
    }
  
    .title, .input-container {
      padding: 20px 22px;
    }
  
    .input-container {
      min-width: 250px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      z-index: 1;

      .input-wrapper {
        display: inline-block;
        position: relative;

        &:after {
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 70%;
          height: 1px;
          content: '';
          background-color: rgba($color: $white, $alpha: .5);
        }
      }

      .date {
        color: $white;
        background-color: transparent;
        border: unset;
    
        &::placeholder {
          color: $white;
        }
      }   
    }
    
    .button-wrapper {
      align-self: stretch;

      .btn {
        display: block;
        height: 100%;
        font-size: $h7;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .form-date {
    .date-box {
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      padding-left: 0;

      .input-container {
        padding-top: 0;

        .input-wrapper {
          &:after {
            display: none;
          }

          .date {
            text-align: center;
            padding-bottom: 0;
            margin-bottom: 0;
          }
        }

      }
    }
  }
}