// Download banner

.download-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black;
  padding: 1rem 0;

  .logo {
    width: 33.3333%;
    
    .icon {
      width: 200px;
      margin: 0 auto;
    }
  }

  .content {
    width: 33.3333%;
    border-left: 1px solid $white;
    padding: 2rem 0 2rem 2rem;
    margin: 1rem 0;
  }

  .link-wrapper {
    margin-left: auto;

    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      background-color: $white;

      &:before {
        position: relative;
        left: 0;
        top: 0;
        content: "";
        width: 0;
        height: 0;
        border-top: 80px solid $black;
        border-right: 80px solid transparent;
      }
      
      .download-link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        padding: 1rem 1.5rem;
        cursor: pointer;
        text-decoration: none;
    
        .icon {
          margin-right: 20px;

          svg {
            width: 50px;
            height: 50px;
            path {
              fill: $main-color !important;
            }
          }
        }
    
        p {
          text-transform: uppercase;
          font-weight: 700;
          color: $main-color;
        }
      }
    }
  }
}

//----

// Media queries

@media (max-width: 991px) {
  .download-banner {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;

    .logo {
      width: 100%;
    }

    .content {
      width: 100%;
      text-align: center;
      border-left: unset;
      padding-left: 0;
      margin: 0;
    }

    .link-wrapper {
      margin: 0 auto;
    }
  }
}