.events-list {
    display: flex;
    flex-direction: column;
    
     .event-item {
         display: flex;

        .image-wrapper {
            width: 300px;

            .image {
                height: 100%;
                position: relative;
                
                .image-absolute {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .content-wrapper {
            display: flex;
            flex-direction: column;
            width: calc(100% - 300px);
            margin-left: 2rem;
        }

        hr {
            &:last-child {
                margin-bottom: unset;
            }
        }
     }
}


@media (max-width: 991px) {
    .events-list {
        .event-item {
            .image-wrapper{
                width: 200px;
            }
        }
    }
}

@media (max-width: 767px) {
    .events-list {
        .event-item {
            flex-direction: column;
            .image-wrapper{
                width: 100%;
                height: 200px;
            }

            .content-wrapper {
                width: 100%;
                margin-top: 2rem;
                text-align: center;
                margin-left: unset;
            }
        }
    }
}