.day-item {
    &.is-start-date, &.is-end-date {
      background-color: $main-color !important;
        
      &:hover {
        color: $white !important;
      }
    }
  
    &.is-in-range {
      background-color: lighten($main-color, 30%) !important;
    }
  
    &:hover {
      color: $main-color !important;
      -webkit-box-shadow: inset 0 0 0 1px $main-color !important;
      box-shadow: inset 0 0 0 1px $main-color !important;
    }
  }