// Main content box

.main-content-box, .main-content-box-reverse {
  display: flex;
  justify-content: space-between;
  
  .first-half {
    position: relative;
    width: 45%;

    .image-wrapper, .carousel-wrapper {
      position: absolute;
      top: 50%;
      left:0;
      width: calc(100% + 40px);
      height: 90%;
      transform: translateY(-50%);

      .image {
        width: 100%;
        height: 100%;
      }
    }
  }

  .second-half {
    width: 55%;

    .content {
      background-color: $third-color;
      padding: 6rem;
    }
  }
}

.main-content-box-reverse {
  .first-half {
    order: 1;

    .image-wrapper, .carousel-wrapper {
      position: absolute;
      top: 50%;
      left: -40px;
      width: calc(100% + 40px);
      height: 90%;
      transform: translateY(-50%);
    }
  }

  .second-half {
    order: 0;
  }
}

//----

.text-content-box {
  .content {
    background-color: $secondary-color;
    padding: 4rem 6rem;
  }
}

// Media queries

@media (max-width: 1599px) {
  .main-content-box {
    .second-half {
      .content {
        padding: 3rem 3rem 3rem 6rem;
      }
    }
  }

  .main-content-box-reverse {
    .second-half {
      .content {
        padding: 3rem 6rem 3rem 3rem;
      }
    }
  }
}

@media (max-width: 1199px) {
  .main-content-box {
    flex-wrap: wrap;
    
    .first-half {
      width: 100%;
  
      .image-wrapper, .carousel-wrapper {
        position: static;
        top: unset;
        left: unset;
        width: 100%;
        height: 300px;
        transform: unset;
      }
    }
  
    .second-half {
      width: 100%;

      .content {
        padding: 3rem;
      }
    }
  }

  .text-content-box {
    .content {
      padding: 3rem;
    }
  }
}

@media (max-width: 575px) {
  .main-content-box {
    .second-half {
      .content {
        padding: 2rem 1rem;
      }
    }
  }

  .text-content-box {
    .content {
      padding: 2rem 1rem;
    }
  }
}