$container-width: 140px;

.media-widget {
  position: fixed;
  top: 50%;
  right: -$container-width;
//   display: none;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  transform: translate(0, -50%);
  z-index: 3;
  @include transition(all, 300ms);
  cursor: pointer;
  
  &:hover {
    right: 0;
  }

  &.foodorder-widget {
    top: calc(50% - 35px);
  }

  .item {
    display: flex;
    align-items: center;
    background-color: $main-color;
    padding: 10px;


    .icon {
      svg {
        width: 40px;
        height: 40px;

        path {
          fill: $white !important;
        }
      }
    }

    .content {
      width: $container-width;
      padding: 0 1rem;

      span {
        color: $white;
      }
    }
  }
}

@media (max-width: 575px) {
  .media-widget {
    // display: flex;
    top: unset;
    bottom: 40px;
    transform: unset;

    &:hover {
      right: -$container-width;
    }

    &.foodorder-widget {
      top: unset;
    }
  }
}