// Paralax

.parallax-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0,0,0,.3);
  }
  
  img.img-parallax {
    width: 100vmax !important;
    height: 175%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
    object-fit: cover;
  }
  
  //----