.rooms-box-main {
  .row-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
      display: flex;
      width: calc(50% - 20px);
      min-height: 300px;
      border: 1px solid $gray-500;
      margin-bottom: 2rem;

      &:hover {
        img {
          transform: scale(1.1);
        }

        .image-wrapper {
          &:after {
            background-color: unset;
          }
        }
      }
      
      .image-wrapper {
        position: relative;
        width: 50%;
        height: 100%;
        overflow: hidden;
        
        .image {
          position: absolute;
          width: 101%;
          height: 101%;
          
          img {
            will-change: transform;
            transition: transform 1000ms;
          }
        }
      }

      .content-wrapper {
        display: flex;
        width: 50%;

        .content {
          display: flex;
          flex-flow: column nowrap;
          padding: 2rem;

          .button-wrapper {
            text-align: end;
          }
        }
      }
    }

    .item-secondary {
      position: relative;

      &:nth-of-type(1) {
        width: calc(60% - 20px);
      }

      &:nth-of-type(2) {
        width: calc(40% - 20px);
      }

      &:nth-of-type(3) {
        width: calc(40% - 20px);
      }

      &:nth-of-type(4) {
        width: calc(60% - 20px);
      }

      .image-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,.3);
          transition: background-color 1000ms;
        }
      }

      .content-wrapper {
        position: relative;
        width: 100%;
        z-index: 1;

        .content {
          width: 100%;

          .price-right {
            text-align: right;
            p {
              margin-bottom: 0;
              color: $white;
            }
          }

          .title-primary {
          }
        }
      }
    }
  }
}

.rooms-box-main-infinite {
  .row-1 {
    .item-secondary {
      position: relative;

      &:nth-of-type(1n) {
        width: calc(60% - 20px);
      }
      &:nth-of-type(2n) {
        width: calc(40% - 20px);
      }
      &:nth-of-type(3n) {
        width: 100%;
      }
      &:nth-of-type(4n) {
        width: calc(40% - 20px);
      }
      &:nth-of-type(5n) {
        width: calc(60% - 20px);
      }
    }
  }
}

@media (max-width: 767px) {
  .rooms-box-main {
    .row-1 {

      .item-secondary {
        &:nth-child(n) {
          width: 100%;
        }
      }
    }
  }
}