.secondary-content-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .first-half {
    width: calc(50% - 40px);

    .content-wrapper {
      max-width: 450px;
    }
  }

  .second-half {
    width: calc(50% - 40px);
  }
}

@media (max-width: 767px) {
  .secondary-content-box {
    flex-wrap: wrap;

    .first-half {
      width: 100%;

      .content-wrapper {
        max-width: unset;
      }
    }

    .second-half {
      width: 100%;
    }
  }
}