.event-wrapper {
  display: flex;

  .content-wrapper {
    width: 70%;

    article {
      p {
        font-size: 18px;

        strong {
          font-size: 22px;
          color: $main-color;
        }

        .day {
          color: $main-color;
          font-weight: bold;
        }
      }
    }
  }

  .sidebar-wrapper {
    width: 29%;
    .sidebar{
      position: sticky;
      top: 160px;
      margin: 0 0 0 25px;
      padding: 20px 0;
      border: 1px solid $main-color;

      .other-events-list {
        display: flex;
        flex-direction: column;

        .event {
          text-decoration: none;

          hr {
            max-width: 50px;
            margin: auto;
          }

          p {
            transition: color 250ms;
          }

          &:hover {
            p {
              color: $main-color;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .event-wrapper {
    flex-direction: column;

    .content-wrapper {
      width: 100%;
    }

    .sidebar-wrapper {
      width: 100%;
      margin-top: 3rem;
      .sidebar {
        margin: unset;
      }
    }
  }
}
