// Single room


.p-ornament {
  padding-left: 300px;
}

.room-icons-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  .icon {
    display: flex;
    flex-flow: column nowrap;
    justify-content: baseline;
    align-items: center;
    max-width: 125px;
    margin-right: 50px;

    &:last-of-type {
      margin-right: 0;
    }

    .image {
      width: 50px;
      height: 50px;
      margin-bottom: 10px;

      svg {
        width: 100%;
        height: 100%;

        path {
          fill:$secondary-color !important;
        }
      }
    }

    .text {
      text-align: center;
    }
  }
}

.title-ornament {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  width: 100%;

  .title-primary {
    padding-right: 20px;
  }

  .separator {
    flex-grow: 1;
    height: 1px;
    background-color: lighten($main-color, 20%);
  }
}

.section-single-room {
  .icons-box {
    .icon {
      padding: 20px;
      margin: 10px;
    }
  }
}

.additional-info {
  ul {
    padding-left: 0;
    list-style: none;

    li {
      strong {
        text-decoration: underline;
      }
    }
  }
}

// Dashed List

.list-dashed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;

  &.standard {
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;

    .item-wrapper {
      background-color: rgba($color: $white, $alpha: 0.9);
      border-radius: $border-radius-sm;
      padding: 20px;
      margin: 20px;

      .item {
        width: unset;
        margin-bottom: 0;
  
        p {
          min-height: unset;
        }
      }
    }
  }

  .item {
    display: flex;
    align-items: center;
    width: calc(50% - 20px);
    padding-bottom: 5px;
    border-bottom: 1px dashed $main-color;
    margin-bottom: 30px;

    svg {
      position: relative;
      bottom: 1px;
      width: 30px;
      height: 30px;
      margin-right: 10px;

      path {
        fill: $secondary-color !important;
      }
    }
    
    p {
      min-height: 35px;
    }
  }
}

//----

// Media queries

@media (max-width: 991px) {
  .p-ornament {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .room-icons-box {
    justify-content: center;

    .icon {
      width: 50%;
      margin-right: 0;

      .image {
        width: 40px;
        height: 40px;
      }
    }
  }
}