.splide-event-wrapper {
  position: fixed;
  top: calc(50% + 60px);
  right: 0;
  width: $splideEventWidth;
  height: $splideEventHeight;
  z-index: 100;
  background-color: rgba(222,226,230,.7);
  backdrop-filter: blur(10px);
  @include transition(transform, 300ms);

  &.event-hide-element {
    transform: translateX(185px);
  }

  &:hover {
      transform: unset;
  }


  &:before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, rgba(255,255,255,.2), rgba(255,255,255,.47));
  }

  .splide-event-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 146px;
    margin: auto;

    a {
      text-decoration: none;
      color: black;
      .image-wrapper {
        height: 86px;
        margin: 1rem 0;
  
        .image {
          height: 100%;
          width: 100%;
        }
      }

      .content-box {
        display: flex;
        height: 50px;

        .cut-text { 
          display: block; /* Fallback for non-webkit */
          display: -webkit-box;
          max-width: 400px;
          height: 50px;
          margin: 0 auto;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .date-box {
          display: flex;
          flex-direction: column;
  
          .day {
            color: $fourth-color;
            font-size: 22px;
            margin-bottom: unset;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .splide-event-wrapper {
    display: none;
  }
}