.table-simple {
  thead {
    tr {
      border: 1px solid $main-color;
    }
  }

  tr {
    td, th {
      padding: 1rem;
    }

    td {
      border: 1px dashed $black;
    }

    th {
      font-weight: 500;
      color: $white;
      background-color: $main-color;
    }
  }
}

@media (max-width: 767px) {
  .table-simple {
    tr {
      td, th {
        padding: 5px;
      }

      td {
        font-size: 12px;
      }

      th {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 400px) {
  .table-simple {
    tr {
      td, th {
        padding: 5px;
      }

      td {
        font-size: 10px;
      }

      th {
        font-size: 10px;
      }
    }
  }
}