// CTA boxes

.cta-box {
  display: none;
  @include transition();
}

.cta-box-float {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: $white;
  animation: 500ms ease-out 0s 1 cta-animation;
  z-index: 4;

  .cta-button-wrapper {
    width: 33.333%;

    .btn {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }

    &:nth-of-type(2) {
      .btn {
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;

      }
    }
  }
}

//----