#modal {
  .modal-content {
    border-radius: 0;
    padding: 1rem;
  }

  .image {
    height: 200px;
  }
}

@media (max-width: 576px) {
  #modal {
    .modal-content {
      padding: .5rem;
    }
  
    .image {
      height: 100px;
    }
  }
}