.noscript-hide {
    display: none;
}

.entry {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.lazy {
    display: none;
}
