// Navbar animation

@keyframes navbar-animation {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}

//----

@keyframes cta-animation {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0);
  }
}

// Fade animations

// .fade-in, .fade-out {
//   @include transition(opacity, 300ms);
// }

// .fade-in {
//   opacity: 1;
// }

// .fade-out {
//   opacity: 0;
// }

// Entry animation

.entry {
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}

.entry-left {
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  transform: translateX(-50px);
}

.entry-right {
  -webkit-transform: translateX(50px);
  -moz-transform: translateX(50px);
  -ms-transform: translateX(50px);
  -o-transform: translateX(-0px);
  transform: translateX(50px);
}

.entered {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transition 1100ms 300ms, opacity 400ms 300ms;
  -webkit-transition: -webkit-transition 1100ms 300ms, opacity 400ms 300ms;
  -moz-transition: -moz-transition 1100ms 300ms, opacity 400ms 300ms;
  -ms-transition: -ms-transition 1100ms 300ms, opacity 400ms 300ms;
  -o-transition: -o-transition 1100ms 300ms, opacity 400ms 300ms;
  transition: transform 1100ms 300ms, opacity 400ms 300ms;
}

//----

// Decorative line

.line-wrapper .decorative-line {
  -webkit-animation-name: change-height;
  animation-name: change-height;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count:infinite;
  will-change: transform;
}

@keyframes change-height {
  0% {
    height: 100%;
  }
  50% {
    height: 10%;
  }
  100% {
    height: 100%;
  }
}

//----
