a {
  color: darken($main-color, 20%);

  &:hover {
    color: darken($main-color, 20%);
  }
}

*:focus {
  outline: none !important;
  box-shadow: unset !important;
}
  
button:focus, button:active {
  outline: none !important;
  box-shadow: unset !important;
}

.btn {
  font-size: $h7;
  font-weight: 600;
  padding: 16px 40px;
  letter-spacing: $letter-spacing;
  text-transform: uppercase;
  border-radius: 0;
  margin-bottom: 0;
  line-height: 1.4em;
  cursor: pointer;
  transition: background-color 300ms;

  &.btn-large {
    font-size: $h7;
    padding: 18px 43px;
  }
}

.btn-main {
  position: relative;
  color: $white;
  background-color: $main-color;
  border: 1px solid $main-color;

  &.btn-transparent {
    color: $white;
    border-color: transparent;
    background-color: transparent;
    padding: 20px 22px;

    .box {
      display: flex;
      flex-wrap: nowrap;

      &:after {
        content: '';
        display: inline-block;
        position: relative;
        width: 20px;
        height: 20px;
        background-image: url(../images/icons/controls/right-arrow-line.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transition: transform .3s;
        will-change: transform;
      }

      .text {
        margin-right: 10px;
      }
    }

    &:hover {
      color: $white;
      border-color: transparent;
      background-color: transparent;
    }
  }
  
  &:hover {
    color: $white;
    background-color: darken($main-color, 10%);
    border: 1px solid transparent;

    &:before, &:after {
      width: 20%;
      height: 80%;
    }

    &.btn-transparent {
      .box {
        &:after {
          transform: translateX(4px);
        }
      }
    }
  }
}

.btn-second {
  position: relative;
  color: $black;
  background-color: transparent;
  border: 1px solid transparent;
  padding-right: 60px;
  
  &:hover {
    color: $black;

    &:after {
      transform: translateX(8px);
    }
  }
}

.btn-third {
  position: relative;
  color: $white;
  background-color: transparent;
  border: 1px solid transparent;

  // &:before, &:after {
  //   position: absolute;
  //   content: '';
  //   display: block;
  //   width: 10%;
  //   height: 70%;
  //   @include transition();
  // }

  // &:before {
  //   left: 0;
  //   bottom: 0;
  //   border-left: 1px solid $white;
  //   border-bottom: 1px solid $white;
  // }

  // &:after {
  //   right: 0;
  //   top: 0;
  //   border-right: 1px solid $white;
  //   border-top: 1px solid $white;
  // }
  
  &:hover {
    color: $white;

    &:before, &:after {
      width: 20%;
      height: 80%;
    }
  }
}

.btn-close {
  background-color: transparent;
  border: 1px solid transparent;

  .icon {
    width: 26px;
    height: 26px;
  }
}

@media (max-width: 767px) {
  .btn:not(.btn-third):not(.reservation) {
    font-size: $h8;
    padding: 10px 35px;
  
    &.btn-large {
      font-size: $h7;
      padding: 15px 40px;
    }
  }
}