.narrow {
  position: relative;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 1;

  &.gradient-bottom {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      background: rgba(255,255,255,0);
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
      z-index: -1;
    }
  }

  &.section-p-big {
    padding-top: 160px;
    padding-bottom: 160px;
  }

  &.section-p-biggest {
    padding-top: 180px;
    padding-bottom: 180px;
  }

  &.section-p-small {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &.section-p-smallest {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;

    // &.lg-pb-0 {
    //   padding-bottom: 0;
    // }

    &.section-p-big {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    &.section-p-biggest {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    &.section-p-small {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &.section-p-smallest {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}

@media (max-width: 575px) {
  .section {
    &.section-p-big {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
}