.bg-lightgray {
  background-color: $gray-200;
}

.bg-darkgray {
  background-color: $gray-700;
}

.bg-main {
  position: relative;
  background-color: $main-color;

  .bg-icon {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 500px;
    height: auto;
    opacity: .2;
  }
}

.bg-texture {
  position: relative;

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.bg-image {
  position: relative;

    .image {
      &:not(.no-background-image) {
        position: absolute;
        top: 20%;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .2;
        
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          content: '';
          background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1)85%, rgba(255,255,255,1) 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(85%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
          background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1)85%, rgba(255,255,255,1) 100%);
          background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1)85%, rgba(255,255,255,1) 100%);
          background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1)85%, rgba(255,255,255,1) 100%);
          background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1)85%, rgba(255,255,255,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
        }
      }
    }

  &.top-0 {
    top: 0;
  }
}


.bg-image-parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-scroll {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: .9;
}

.color-main {
  color: $main-color;
}

.logo-home-page {
  width: 150px;
  margin: 0 auto;
}

.three-images {
  .images-wrapper {
    $gap: 30px;
    display: flex;
    justify-content: space-between;
    
    .three-image {
      height: 300px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:first-child {
        width: calc(20% - #{$gap} / 2);
      }

      &:nth-child(2n) {
        width: calc(20% - #{$gap} / 2);
      }

      &:last-child {
        width: calc(60% - #{$gap} / 2);
      }
    }
    
  }
}

.line-box {
  height: 80px;

  .line-wrapper {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 80px;
    width: 1px;
    transform: translate-y(-50%);
    z-index: 1;
    
    &.pos-left {
      left: 0;
      transform: unset;
    }

    .decorative-line {
      height: 100%;
      width: 100%;
      background-color: $white;
    }
  }
}

.dot-container {
  display: flex;
  justify-content: center;
  position: relative;

  .image-wrapper {
    width: 10px;
    height: 10px;
    position: relative;

    svg {
      position: absolute;
      fill: $main-color;
    }

    
  }

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 48%;
    height: 2px;
    background-color: $main-color;
    transform: translateY(-50%);
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 48%;
    height: 2px;
    background-color: $main-color;
    transform: translateY(-50%);
  }
}

@media (max-width: 991px) {
  .three-images {
    .images-wrapper {
      flex-wrap: wrap;

      .three-image {
          width: 100% !important;
          height: 250px;
          margin-bottom: 10px;
      }
    }
  }

  .dot-container {
    &:before {
      width: 47%;
    }

    &:after {
      width: 47%;
    }
  }
}

@media (max-width: 767px) {
  .line-box {
    .line-wrapper {
      &.pos-left {
        left: 50%;
        transform: translate-y(-50%);
      }
    }
  }

  .dot-container {
    .image-wrapper {
  
      &:before {
        width: 200px;
      }
  
      &:after {
        width: 200px;
      }
    }
  }
}