// Footer

footer {
  background-color: #2B2B2B;
  padding: 60px 0;

  .footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .left-content-box {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 70%;
      
      .logo-footer {
        margin-right: 20px;
        
        a {
          display: inline-block;
          // height: 3rem;
  
          .icon {
            width: 120px;
            height: auto;
  
            img {
              @include contain-img-div;
            }
          }
        }
      }

      .socials {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          .icon {
            width: 24px;
            height: 24px;

            svg {
              fill: $white;
            }
          }
        }
      }

      .footer-adress-box {
        .footer-adress {
          display: flex;
          align-items: flex-start;
          margin-right: 20px;
  
          .icon {
            position: relative;
            top: 4px;
            width: 17px;
            height: 17px;
            margin-right: 10px;
          }
  
          .title {
            text-transform: uppercase;
            font-weight: $font-weight-bold;
            margin-bottom: 10px;
          }
  
          .city, .street {
            line-height: 1.8 !important;
            margin-bottom: 0;
          }
        }
      }

      .footer-contact {
        margin-right: 20px;

        .label-contact {
          height: 3rem;
          margin-bottom: 0;
        }

        .email, .phone {
          display: flex;
          align-items: center;

          .icon {
            width: 17px;
            height: 17px;
            margin-right: 10px;
          }

          a {
            color: $black;
            line-height: 1.8 !important;
            margin-bottom: 0;
          }
        }
      }
    }

    .right-content-box {
      justify-content: flex-end;
      align-self: flex-start;
      width: 30%;

      .footer-menu {
        margin-top: 3rem;

        .navbar-footer {
          list-style: none;
          padding: 0;
          margin-bottom: 0;
  
          li {
            line-height: $h5;
            text-align: right;
            margin-bottom: 10px;

            &:last-of-type {
              margin-bottom: 0;
            }
  
            a {
              color: $white;
              font-size: $h6;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .realization-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .realization-wrapper {
      width: 33%;
    }

    .flags {
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        height: 35px;
        width: 120px;
      }
    }
    
    .createdby {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.booking-solutions-logo {
  position: relative;
  top: -1px;
  display: flex;
  height: 20px;
  max-width: 250px;
  opacity: 1;
  margin-left: 5px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;

  &:hover {
    filter: none;
    opacity: 0.8;
  }
}

// CTA boxes

.cta-box {
  display: none;
  @include transition();
}

.cta-box-float {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: $white;
  animation: 500ms ease-out 0s 1 cta-animation;
  z-index: 4;

  .cta-button-wrapper {
    width: 33.333%;

    .btn {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }

    &:nth-of-type(2) {
      .btn {
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;

      }
    }
  }
}

// CTA boxes

.cta-box {
  display: none;
  @include transition();
}

.cta-box-float {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: $white;
  animation: 500ms ease-out 0s 1 cta-animation;
  z-index: 4;

  .cta-button-wrapper {
    width: 33.333%;

    .btn {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }

    &:nth-of-type(2) {
      .btn {
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;

      }
    }
  }
}

//----

// Media Queries

@media (max-width: 1199px) {
  footer {
    .footer-box {
      flex-wrap: wrap;

      .left-content-box {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        .logo-footer {
          margin-right: 0;

          p {
            text-align: center;
          }

          .socials {
            justify-content: center;

            a {
              height: auto;
            }
          }
        }

        .footer-adress-box {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-top: 20px;
        
          p {
            text-align: center;
          }
          
          .footer-adress {
            justify-content: center;
            width: 100%;
            margin-right: 0;

            p {
              text-align: center;
            }
          }
        }

        .footer-contact {
          width: 100%;
          margin-top: 20px;
          margin-right: 0;

          .label-contact {
            text-align: center;
            height: auto;
            margin-bottom: 1rem;
          }

          .email, .phone {
            justify-content: center;
          }
        }
      }

      .right-content-box {
        justify-content: center;
        width: 100%;

        .footer-menu {
          margin-top: 1rem;

          .navbar-footer {
            li {
              text-align: center;
            }
          }
        }
      }
    }

    .realization-box {
      flex-direction: column;
      .createdby, .copyright {
        width: 100%;
        text-align: center;
      }

      .flags {
        .icon {
          margin-top: 1rem;
          margin-right: 30px;
        }
      }

      .createdby {
        justify-content: center;
        margin-top: 1rem;
      }
    }
  }
}

@media (max-width: 767px) {
  footer {
    .realization-box {
      .flags {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 575px) {
  footer {
    .footer-box {
      .left-content-box {
        .footer-contact {
          .phones {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}

//----