.form-wrapper {
  height: calc(100% - 15px);
  background-color: $white;
  border: 1px solid $black;
  @include shadow(15px, 15px, 0, 0, $black, .6);
  padding: 4rem;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.form-label {
  margin-bottom: 0;

  .icon {
    width: 30px;
    height: 30px;
    margin-right: 1.5rem;

    svg {
      width: 100%;
      height: 100%;

      path {
        fill: $main-color !important;
      }
    }
  }
}

.form-control {
  width: calc(100% - 54px);
  border-radius: unset;

  &:focus {
    border-color: $main-color;
  }
}

.form-check {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1em;
  
  .input-wrapper {
    width: 30px;
    height: 30px;
    margin-right: 1.5rem;

    .form-check-input {
      width: 1rem;
      height: 1rem;
      margin-left: 0;
    }
  }

  .form-check-label {
    width: calc(100% - 54px);
  }
}

.validate-hint {
  width: 100%;
  background-color: $red;
  padding: .5rem 1rem;

  .message {
    text-align: center;
    color: $white;
  }
}

.message-success, .message-fail {
  border: 2px solid $success;
  padding: 1rem 2rem;

  p {
    font-weight: 700;
    color: $success;
  }
}

.message-fail {
  border-color: $danger;
  
  p {
    color: $danger;
  }
}

@media (max-width: 575px) {
  .form-wrapper {
    padding: 2rem 1rem;
  }
}