.image {
  img {
    @include cover-img-div;
  }
}

.icon {
  img {
    @include contain-img-div;
    // vertical-align: unset !important;
  }

  svg {
    @include contain-img-div;
    vertical-align: unset !important;
  }
}

.gallery-main {
  .head-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    padding: 20px 0;
    margin: 0 auto;

    .btn {
      margin: 10px;
    }
  }
}

.wp-block-image {
  img {
    max-width: 100%;
    @include contain-img-div;
  }
}

.wp-block-gallery {
  .blocks-gallery-grid {
    list-style: none;
    padding: 0;
  }
}

.blocks-gallery-grid,
.gallery {
  $gap: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .blocks-gallery-item,
  .image {
    overflow: hidden;
    margin-bottom: $gap;
    height: 400px;

    figure {
      @include cover-img-div;
    }

    img {
      @include cover-img-div;
      @include transition(all, 500ms);

      &:hover {
        will-change: transform;
        transform: scale(1.05);
      }
    }
  }

  .blocks-gallery-item {
    height: 350px;
  }

  &.standard {
    justify-content: space-between;

    .image:nth-child(6n+1) {
      width: calc(20% - #{$gap} / 1.25);
    }
  
    .image:nth-child(6n+2) {
      width: calc(50% - #{$gap} / 1.25);
    }
  
    .image:nth-child(6n+3) {
      width: calc(30% - #{$gap} / 1.25);
    }
  
    .image:nth-child(6n+4) {
      width: calc(30% - #{$gap} / 1.25);
    }
  
    .image:nth-child(6n+5) {
      width: calc(20% - #{$gap} / 1.25);
    }
  
    .image:nth-child(6n+6) {
      width: calc(50% - #{$gap} / 1.25);
    }
  }

  &.equal {
    $gap: 10px;
  
    .image {
      margin-bottom: $gap;
    }
  
    .image:nth-child(2n+1) {
      width: calc(50% - #{$gap} / 2);
    }
  
    .image:nth-child(2n+2) {
      width: calc(50% - #{$gap} / 2);
    }
  }
}

@media (max-width: 991px) {
  .gallery-full .wp-block-gallery,
  .wp-block-gallery,
  .gallery {
    $gap: 10px;
    
    .blocks-gallery-item, .image {
      width: calc(50% - #{$gap} / 2) !important;
      margin-bottom: $gap;
      height: 150px;
    }
  }
}

@media (max-width: 767px) {
  .gallery-main {
    .head-box {
      padding: 0 0 40px 0;
    }
  }
}

@media (max-width: 575px) {
  .gallery-main {
    .head-box {
      flex-wrap: wrap;

      .btn {
        width: 100%;
      }
    }
  }
}