header {
  position: relative;
  height: var(--header-height);
}

.header-frontpage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  height: calc(100vh - var(--header-height));
  width: 100%;
  z-index: 2;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: rgba(0,0,0,.3);
    background: -moz-linear-gradient(top, rgba(0,0,0,.3) 0%, rgba(0,0,0,.2) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,.3)), color-stop(100%, rgba(0,0,0,.2)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,.3) 0%, rgba(0,0,0,.2) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,.3) 0%, rgba(0,0,0,.2) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,.3) 0%, rgba(0,0,0,.2) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,.3) 0%, rgba(0,0,0,.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ededed', GradientType=0 );
    z-index: 0;
  }

  .carousel-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .header-container {
    width: 100%;
    margin-top: 200px;
    z-index: 4;

    .header-reservation {
      position: static;
      margin-top: 4rem;
    }
  }
}

.header-image {
  position: relative;
  width: 100%;
  background: transparent;
}

.header-image-background {
  position: relative;
  height: 45vh;
  min-height: 500px;
  overflow: hidden;
  z-index: 2;

  .image-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      background: rgba($color: $black, $alpha: 0.3);
      z-index: 0;
    }
  }

  .content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    padding: 0 15px;
  }
}

.header-plain-background {
  height: var(--header-height);
  background-color: $black;
}

// Media queries

@media (max-width: 991px) {
}

@media (max-width: 767px) {
  .header-frontpage {
    &:before {
      content: unset;
    }

    .header-container {
      margin-top: 50px;
    }
  }

  .header-reservation {
    max-width: 300px;
    margin-top: 1rem;
  }

  .header-image-background {
    height: 40vh;
    min-height: 300px;
  }
}

@media (max-width: 575px) {
  .header-frontpage {

    .header-container {
      .header-reservation {
        margin-top: 1rem;
      }
    }
  }
}