.hss-box, .hss-box-revert {
  position: relative;
  border: 1px solid $main-color;
  padding: 60px;
  min-height: 300px;

  &::before{
    content: '';
    position: absolute;
    width: 380px;
    height: 700px;
    background-color: $white;
  }

  .image-wrapper {
    position: relative;
    width: 575px;
    height: 840px;

    .image {
      height: 400px;
      width: 100%;

      img {
        object-fit: cover;
      }
    }

    & > .image:first-child {
      margin-bottom: 30px;
    }
  }

  .content {
    p {
      text-align: justify;
    }
  }
}

.hss-box {
  &::before{
    top: -1px;
    left: -1px;
    border-right: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
  }

  .image-wrapper {
    float: left;
    margin-right: 30px;
  }
}

.hss-box-revert {
  &::before{
    top: -1px;
    right: -1px;
    border-left: 1px solid $main-color;
    border-bottom: 1px solid $main-color;
  }

  .image-wrapper {
    float: right;
    margin-left: 30px;
  }
}

@media (max-width: 1199px) {
  .hss-box, .hss-box-revert {

    &::before{
      width: 280px;
      height: 580px;
    }
    
    .image-wrapper {
      width: 400px;
      height: 630px;

      .image {
        height: 300px;
      }
    }
  }
}

@media (max-width: 991px) {
  .hss-box, .hss-box-revert {
    &::before{
      content: unset;
      display: none;
    }

    .image-wrapper {
      width: 100%;
      margin-bottom: 30px;

      .image {
        height: 300px;
      }
    }

    .content {
      p {
        text-align: center;
      }
    }
  }
}

@media (max-width: 767px) {
  .hss-box, .hss-box-revert {
    padding: 30px;

    .image-wrapper {
      width: 100%;
      height: 330px;

      .image {
        height: 150px;
      }
    }
  }
}