.labels {
  background-color: $white;
}

.map {
  position: relative;
  height: 55vh;
  min-height: 350px;
  max-height: 600px;
  border: none;
  z-index: 1;
  @include transition();

  &:hover {
    opacity: 0.8;
  }

  iframe {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

@media (max-width: 991px) {
  .map {
    position: relative;
    height: 50vh;
    min-height: 300px;
    max-height: 400px;
  }
}

@media (max-width: 767px) {
  .section-map {
    padding-top: 0 !important;
  }
}