@mixin cover-img-div {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@mixin contain-img-div {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@mixin shadow($top, $left, $blur, $spread, $color, $opacity, $inset: false) {
  @if $inset {
    -webkit-box-shadow: $top $left $blur $spread rgba($color, $opacity) inset;
    -moz-box-shadow: $top $left $blur $spread rgba($color, $opacity) inset;
    box-shadow: $top $left $blur $spread rgba($color, $opacity) inset;
  } @else {
    -webkit-box-shadow: $top $left $blur $spread rgba($color, $opacity);
    -moz-box-shadow: $top $left $blur $spread rgba($color, $opacity);
    box-shadow: $top $left $blur $spread rgba($color, $opacity);
  }
}

@mixin transition($element: all, $time: 300ms) {
  -webkit-transition: $element $time;
  -moz-transition: $element $time;
  -ms-transition: $element $time;
  -o-transition: $element $time;
  transition: $element $time;
}