.navbar-holder {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--header-height);

  .logo {
    .icon {
      width: 150px;
    }
  }
}

.navigation-wrapper {
  display: flex;
  justify-content: center;
}

.navbar {
  width: 100%;
  // position: absolute !important;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap !important;
  justify-content: space-around !important;
  align-items: center !important;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 0 3rem !important;
  background-color: transparent;
  z-index: 4;

  .navbar-nav-alt {
    padding: 0;
    margin-bottom: 0;

    > li {
      display: flex;
      align-items: center;
      position: relative;
      margin: 0 25px;
      background-color: transparent;
      @include transition(all, 300ms);
      overflow: hidden;
      padding-bottom: .5rem;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        right: 0;
        width: 70%;
        height: 1px;
        background: $fourth-color;
        border-radius: 5px;
        transform: translateX(-200%);
        transition: transform 300ms;
      }

      a {
        width: 100%;
        display: inline-block;
        position: relative;
        color: $black;
        text-transform: uppercase;
        text-decoration: none;
        font-size: $h7;
        font-weight: 600;
        letter-spacing: $letter-spacing;
        transition: color 300ms;
      }

      &:hover {
        &:before {
          transform: translateX(0);
        }
        
        a {
          color: $fourth-color;
        }
      }

      &.active {
        &:before {
          transform: translateX(0);
        }
      }

      &.home-menu-item {
        position: relative;
        cursor: pointer;
    
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          pointer-events: none;
          background-image: url('/wp-content/themes/siemczyno/dist/images/icons/features/home.svg');
          background-repeat: no-repeat;
          background-size: contain;
          @include transition();
        }

        a {
          width: 20px;
          height: 20px;
          left: 0;
          top: 0;
          text-decoration: none;
          text-indent: -9999px;
        }
      }
    }

    >li:first-child {
      &:before {
        width: 100%;
      }
    }
  }

  &.nav-float {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba($black, 0.6);
    transform: translateY(0);
    box-shadow: 0 0 30px 10px rgba($black, 0.1);
    animation: 500ms ease-out 0s 1 navbar-animation;
    border-bottom: none;
    width: 100%;
    margin: 0 auto;

    .navbar-nav-alt {
      > li {
        a {
          color: $white !important;
        }

        &:hover {
          &:before {
            transform: translateX(0);
          }
          
          a {
            color: $fourth-color !important;
          }
        }

        &.home-menu-item {
          &::after {
            background-image: url('/wp-content/themes/siemczyno/dist/images/icons/features/home_white.svg');
          }
        }
      }
    }

    .hamburger-menu {
      background: $white;
    }
    
    .hamburger-menu:before {
      background: $white;
    }
    
    .hamburger-menu:after{
      background: $white;
    }

    .social-lang-reserv-wrapper {
      .social-wrapper {
        a {
          svg {
            fill: $white;
          }
        }
      }
    }
  }
}

// Hamburger menu

.navbar-toggler {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40px;
  height: 34px;
  cursor: pointer;
  padding: 0;
  z-index: 5;
}

$bar-width: 40px;
$bar-height: 2px;
$bar-spacing: 12px;

.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
  width: $bar-width;
  height: $bar-height;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.hamburger-menu {
  width: 30px;
  position: relative;
  background: $black;
  transition: all 0ms 300ms;
  z-index: 5;
  
  &.animate {
    background: transparent !important; 
  }
}

.hamburger-menu:before {
  content: "";
  position: absolute;
  left: -10px;
  bottom: $bar-spacing;
  background: $black;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 5;
}

.hamburger-menu:after {>li:first-child {
  &:before {
    width: 100%;
  }
}
  content: "";
  position: absolute;
  left: -10px;
  top: $bar-spacing;
  background: $black;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 5;
}

.hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

// ----

//social-lang-reserv-wrapper
.social-lang-reserv-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 166px;

  .lang-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-bottom: 10px;

    a {
      margin-right: 10px;
    }

    a:last-child {
      margin-right: 0;
    }
  }

  .social-wrapper {
    display: flex;
    width: 50%;
    margin-bottom: 10px;
    
    a {
      margin-right: 10px;

      svg {
        fill: $black;
      }
    }

    a:last-child {
      margin-right: 0;
    }
  }

  .button-wrapper {
    width: 100%;
    .btn {
      width: 100%;
    }
  }
}
//--

// Media queries

@media (max-width: 1699px) {
  .navbar {
    .navbar-nav-alt {
      > li {
        margin: 0 12px;

        a {
          font-size: $h7;
        }
      }
    }
  }
}

@media (max-width: 1399px) {
  .navbar {
    padding: 0 1.5rem !important;

    .navbar-holder {
      .logo {
        order: 1;
        .icon {
          width: 100px;
        }
      }
    }

    .navigation-wrapper {
      justify-content: flex-end;
      margin: 0 20px;
      order: 3;

      &:after {
        content: unset;
      }
    }

    .navbar-nav-alt {
      position: absolute;
      width: 250px;
      top: 100%;
      right: 0;
      height: auto;
      background: rgba($black, 0.6);
      z-index: 4;
      
      > li {
        width: 100%;
        margin: 0;
        padding: .25rem;
        
        a {
          height: auto;
          color: $white;
          text-align: right;
          padding-right: 20px;

          &:before {
            content: none;
          }
        }

        &.active {
          a {
            color: $fourth-color !important;
          }
        }

        &.active, &:hover {
          a {
            color: $fourth-color;
          }

          background: $white;
        }

        .dropdown-menu {
          min-width: 50%;
        }

        &.home-menu-item {
          cursor: unset;
      
          &::after {
            content: unset;
          }
  
          a {
            width: 100%;
            height: unset;
            text-decoration: unset;
            text-indent: unset;
          }
        }
      }

      >li:first-child {
        &:before {
          width: 70%;
        }
      }
    }
  }

  .social-lang-reserv-wrapper {
    max-width: 250px;
    order: 2;
    margin-left: auto;
    
    .lang-wrapper {
      width: unset;
      margin-bottom: unset;

      a {
        .icon {
          width: 30px;
          height: 30px;
        }
      }
    }
    
    .social-wrapper {    
      width: unset;
      margin-right: 20px;
      margin-bottom: unset;

      a {
        .icon {
          width: 30px;
          height: 30px;
        }
      }
    }
    .button-wrapper {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    padding: 0 1rem !important;

    .navbar-holder {
      .navigation-wrapper {
        margin: 0 20px 0 20px;
      }
    }

  }
}

@media (max-width: 575px) {
  .social-lang-reserv-wrapper {
    .social-wrapper {    
      display: none;
    }
  }
}

// Height media queries

@media (max-height: 460px) {
  .navbar, .nav-float {
    .navbar-nav-alt {
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      min-height: auto;
      max-width: unset;
      padding: 10px 0;

      > li {
        width: auto;
        padding: 0;
        margin: 10px !important;

        a {
          padding: 0 5px;
        }
      }
    }
  }
}
