.section-wrapper {
  .section {
    &:not(:last-child) {
      padding-bottom: unset !important;
    }
  }
}

.offer-box, .offer-box-revert {
  display: flex;
  min-height: 350px;

  .content-box {
    display: flex;
    width: 70%;
    background-color: $third-color;

    .image-wrapper {
      width: 350px;
      position: relative;

      .image {
        width: 100%;
        height: 100%;
      }
    }

    .content-wrapper {
      width: calc(100% - 350px);
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
    }
  }

  .triangle-box {
    width: 30%;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      width: 450px;
      height: 500px;
      border-top: 500px solid transparent;
    }
  }
}

.offer-box {
  justify-content: flex-start;

  .content-box {
    order: 1;

    .image-wrapper {
      order: 1;
    }

    .content-wrapper {
      order: 2;
    }
  }

  .triangle-box {
    order: 2;

    &:before {
      left: 0;
      border-left: 470px solid $third-color; 
    }
  }
}

.offer-box-revert {
  justify-content: flex-end;

  .content-box {
    order: 2;

    .image-wrapper {
      order: 2;
    }

    .content-wrapper {
      order: 1;
    }
  }

  .triangle-box {
    order: 1;

    &:before {
      right: 0;
      border-right: 470px solid $third-color; 
    }
  }
}

@media (max-width: 1199px) {
  .offer-box, .offer-box-revert {
    .content-box {
      width: 100%;
    }
  
    .triangle-box {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .offer-box, .offer-box-revert {
    .content-box {
      flex-direction: column;

      .image-wrapper {
        order: 1;
        width: 100%;
        height: 200px;
      }

      .content-wrapper {
        order: 2;
        width: 100%;
        text-align: center;
      }
    }
  }
}