// Own end
$main-color: #A3BB87 !default;
$secondary-color: #BA8373 !default;
$third-color: #fdf5f3 !default;
$fourth-color: #5ba506 !default;

$font-family-primary: 'Nunito', $font-family-base;
$font-family-secondary: 'Italianno', $font-family-base;
$font-family-third: 'amazoneregular', $font-family-base;

$letter-spacing: 0.1em;
$letter-spacing-big: 0.18em;

$splideEventWidth: 217px;
$splideEventHeight: 177px;

$h0: 78px;
$h0-standard: 58px;
$h1: 65px;
$h1-standard: 45px;
$h2: 56px;
$h2-standard: 36px;
$h3: 46px;
$h3-standard: 28px;
$h4: 32px;
$h4-standard: 22px;
$h5: 26px;
$h5-standard: 18px;
$h6: 16px;
$h7: 14px;
$h8: 12px;
$h9: 10px;

:root {
    --header-height: 150px;
}

@media (max-width: 1399px) {
    :root {
        --header-height: 100px;
    }
}

@media (max-width: 991px) {
    :root {
        // --header-height: 60px;
    }
}