// Controls

// .splide__arrows {
//   display: flex;
//   justify-content: flex-end;
//   margin-right: 80px;
//   margin-bottom: 80px;

//   .splide__arrow {
//     position: static !important;
//     background-color: transparent;
//     border-radius: 0;
//     transform: unset;

//     &:after {
//       position: relative;
//       content: '';
//       width: 30px;
//       height: 30px;
//       background-repeat: none;
//       background-position: center;
//       background-size: contain;
//     }

//     &.splide__arrow--prev {
//       margin-right: 60px;

//       &:after {
//         background-image: url(../images/icons/controls/arrow-left.svg);
//       }
//     }

//     &.splide__arrow--next {
//       &:after {
//         background-image: url(../images/icons/controls/arrow-right.svg);
//       }
//     }

//     svg {
//       display: none;
//     }
//   }
// }

.splide__pagination {
  position: static !important;
  width: 100% !important;
  transform: unset !important;
  margin-top: 2rem !important;

  li {
    .splide__pagination__page {
      background-color: #adb5bd;
      margin: 1rem;

      &.is-active {
        background-color: $main-color;
      }
    }
  }
}

//----

// Splide header

#splideHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .splide__slide {
    position: relative;
    min-height: 700px;
    height: 100vh;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100vh - var(--header-height));
      z-index: 0;
    }
  }

  .splide__pagination {
    position: absolute !important;
    transform: translateX(-50%) !important;

    li {
      .splide__pagination__page {
        &.is-active {
          background-color: $white;
        }
      }
    }
  }
}

//----

// Splide events

#splideEvents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .splide__track {
    height: 100%;

    .splide__list {
      height: 100%;
    }
  }

  .splide__arrows {
    .splide__arrow {
      opacity: unset;
      background: unset;
      border-radius: unset;
      transform: unset;

      &.splide__arrow--prev {
        left: 7px;
        height: 25px;
        width: 25px;
        
        &:after {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          background-image: url('/wp-content/themes/siemczyno/dist/images/icons/controls/next-arrow-left-new.svg');
          background-size: contain;
          background-repeat: no-repeat;
          @include transition(transform, 300ms);
        }

        &:hover {
          &:after {
            transform: translateX(-3px);
          }
        }

        svg {
          display: none;
        }
      }

      &.splide__arrow--next {
        right: -3px;
        height: 25px;
        width: 25px;

        &:after {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          background-image: url('/wp-content/themes/siemczyno/dist/images/icons/controls/next-arrow-right-new.svg');
          background-size: contain;
          background-repeat: no-repeat;
          @include transition(transform, 300ms);
        }

        &:hover {
          &:after {
            transform: translateX(3px);
          }
        }

        svg {
          display: none;
        }
      }
    }
  }
}

//----
