.hidden-content::before {
  content: attr(content);
  unicode-bidi: bidi-override;
  direction: ltr;
}

::selection {
  color: $white;
  background: $main-color;
}

::-moz-selection {
  color: $white;
  background: $main-color;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.h0 p, .h0 {
  font-size: $h0 !important;
}

.h0-standard p, .h0-standard {
  font-size: $h0-standard !important;
}

.h1 p, .h1 {
  font-size: $h1 !important;
}

.h1-standard p, .h1-standard {
  font-size: $h1-standard !important;
}

.h2 p, .h2 {
  font-size: $h2 !important;
}

.h2-standard p, .h2-standard {
  font-size: $h2-standard !important;
}

.h3 p, .h3 {
  font-size: $h3 !important;
}

.h3-standard p, .h3-standard {
  font-size: $h3-standard !important;
}

.h4 p, .h4 {
  font-size: $h4 !important;
}

.h4-standard p, .h4-standard {
  font-size: $h4-standard !important;
}

.h5 p, .h5 {
  font-size: $h5 !important;
}

.h5-standard p, .h5-standard {
  font-size: $h5-standard !important;
}

.h6 p, .h6 {
  font-size: $h6 !important;
}

.h7 p, .h7 {
  font-size: $h7 !important;
}

.h8 p, .h8 {
  font-size: $h8 !important;
}

.h9 p, .h9 {
  font-size: $h9 !important;
}

hr {
  border: 0;
  height: 1px;
  background-color: $white;
  opacity: 1;

  &.hr-white {
    background-color: $white;
  }

  &.hr-black {
    background-color: $black;
  }
}

div.text-white {
  p {
    color: $white !important;
  }
}

p {
  color: $black;
  font-size: $h6;
  font-weight: 400;
  line-height: $line-height-base !important;
  letter-spacing: $letter-spacing !important;
}

.subtitle-primary {
  display: inline-block;
  font-weight: 500;
  color: $black;
  margin-bottom: 0;

  &.italianno {
    font-family: $font-family-secondary;
  }

  &.amazone-regular {
    font-family: $font-family-third;
  }
}

.title-primary {
  display: inline-block;
  font-family: $font-family-secondary;
  font-weight: 500;
  color: $black;
  margin-bottom: 0;

  &.line-decoration {
    position: relative;
  
    &:after, &:before {
      position: absolute;
      top: 50%;
      content: '';
      display: inline-block;
      width: 50px;
      height: 2px;
      transform: translateY(-50%);
      background-color: black;
    }
  
    &:before {
      right: calc(101% + 10px);
    }
  
    &:after {
      left: calc(98% + 10px);
    }
  }

  &.amazone-regular {
    font-family: $font-family-third;
  }
}

ul {
  li {
    margin-bottom: 1rem;
  }
}

.quotation-marks {
  position: relative;
  display: inline;

  &:before, &:after {
    content: "\"";
    position: absolute;
    font-size: $h1;
    color: $main-color;
  }

  &:before {
    top: -2px;
    left: -18px;
  }

  &:after {
    bottom: -25px;
    right: -18;
  }

  &.small {
    max-width: 450px;
  }
}

// Media

@media (max-width: 991px) {
  .h0 p, .h0 {
    font-size: $h0 * 0.8 !important;
  }
  .h0-standard p, .h0-standard {
    font-size: $h0-standard * 0.8 !important;
  }
  .h1 p, .h1 {
    font-size: $h1 * 0.8 !important;
  }
  .h1-standard p, .h1-standard {
    font-size: $h1-standard * 0.8 !important;
  }
  .h2 p, .h2 {
    font-size: $h2 * 0.8 !important;
  }
  .h2-standard p, .h2-standard {
    font-size: $h2-standard * 0.8 !important;
  }
  .h3 p, .h3 {
    font-size: $h3 * 0.9 !important;
  }
  .h3-standard p, .h3-standard {
    font-size: $h3-standard * 0.9 !important;
  }
  .h4 p, .h4 {
    font-size: $h4 * 0.9 !important;
  }
  .h4-standard p, .h4-standard {
    font-size: $h4-standard * 0.9 !important;
  }
  .h5 p, .h5 {
    font-size: $h5 * 0.9 !important;
  }
  .h5-standard p, .h5-standard {
    font-size: $h5-standard * 0.9 !important;
  }
  .h6 p, .h6 {
    font-size: $h6 * 0.9 !important;
  }
}

@media (max-width: 767px) {
  .h0 p, .h0 {
    font-size: $h0 * 0.7 !important;
  }
  .h0-standard p, .h0-standard {
    font-size: $h0-standard * 0.7 !important;
  }
  .h1 p, .h1 {
    font-size: $h1 * 0.7 !important;
  }
  .h1-standard p, .h1-standard {
    font-size: $h1-standard * 0.7 !important;
  }
  .h2 p, .h2 {
    font-size: $h2 * 0.7 !important;
  }
  .h2-standard p, .h2-standard {
    font-size: $h2-standard * 0.7 !important;
  }
  
  .title-primary {

    &.line-decoration {
      &:after, &:before {
        content: unset;
      }
    }
  }
}
