@import "mixins";
@import "bootstrap_custom";
@import "animations";
@import "header";
@import "nav";
@import "footer";
@import "containers";
@import "type";
@import "form";
@import "button";
@import "gallery";
@import "splide";
@import "map";
@import "hss";
@import "offer";
@import "elements";

@import "components/date_box";
@import "components/main_box";
@import "components/secondary_box";
@import "components/cta_box";
@import "components/contact_box";
@import "components/rooms_box";
@import "components/parallax";
@import "components/single_room_box";
@import "components/coupon";
@import "components/attractions";
@import "components/download_banner";
@import "components/media_widget";
@import "components/litepicker";
@import "components/single-event";
@import "components/events";
@import "components/splide_events";

@font-face {
  font-family: 'amazoneregular';
  src: url('/wp-content/themes/siemczyno/fonts/amazon-webfont.woff2') format('woff2'),
       url('/wp-content/themes/siemczyno/fonts/amazon-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  position: relative;
  overflow-x: hidden;

  &.block {
    overflow-x: visible;
    overflow: hidden;
  }
}

body {
  color: $black;
  font-size: $h6;
  font-weight: $font-weight-normal;
  line-height: 22px;
  letter-spacing: $letter-spacing;
  font-family: $font-family-primary;
  margin: 0;
  background-color: $white;
}

.nil {
  display: none;
}

.mb-6 {
  margin-bottom: 4rem !important;
}
